* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #f7971e , #ffd200);
} 

.App {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    width: 500px;
    min-height: 500px;
    max-height: max-content;
    box-shadow: 0 0 20px #fff;
}

.App h1 {
    color: #fff;
}